:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: "Roboto", sans-serif;
}
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: .5rem 1rem;
    transition: .3s;
    &:hover {
        background-color: #f42645;
        color: var(--yellow-color);
    }
}
.main-title {
    &::after {
        content: "";
        width: 120px;
        height: 2px; 
        background-color: var(--green-color);
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.navbar {
    background-color: var(--dark-color);
    .logo {
        height: 50px;
    }
    .navbar-nav {
        .nav-link {
            color: white;
            &.active, &:focus, &:hover {
                color: var(--green-color);
            }
        }
    }
    .search {
        border-left: 1px solid var(--green-color);
        svg {
            color: var(--green-color);
        }
    }
    .navbar-toggler {
        color: white;
        border-color: white;
        font-size: 25px;
        &:focus {
            box-shadow: none;
        }
        &[aria-expanded="true"] {
            border-color: var(--green-color);
        }
    }
}
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 76px);
}
.features {
    .icon-holder {
        height: 200px;
        svg {
            left: 50%;
            transform: translateX(-50%);
        }
        .number {
            font-size: 12rem;
            color: var(--section-color);
        }
        .icon {
            color: var(--green-color);
        }
    }
    .feat {
        h4 {
            color: var(--yellow-color);
        }
    }
}
.our-work {
    background-color: var(--section-color);
    ul {
        li {
            padding: .5rem 1rem;
            cursor: pointer;
            transition: .3s;
            &:not(.active):hover {
                color: var(--red-color);
            }
            &.active {
                background-color: var(--red-color);
                color: var(--yellow-color);
            }
        }
    }
    .box {
        padding: 5px;
        overflow: hidden;
        position: relative;
        img {
            height: 180px;
            width: 100%;
        }
        &::before {
            content: attr(data-work);
            position: absolute;
            background-color: #33d1cca0;
            width: calc(100% - 5px);
            height: calc(100% - 5px);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            transition: .3s;
            color: white;
            font-size: 1.4rem;
            transform: translateX(calc(-100% - 5px));
        }
        &:hover {
            &::before {
                transform: translateX(0);
            }
        }
    }
}
.stuff {
    .description {
        max-width: 500px;
    }
}
.team {
    background-color: var(--section-color);
    h2 {
        color: var(--yellow-color);
    }
    .box {
        h4 {
            background-color: var(--green-color);
        }
    }
}
.project {
    background-color: var(--dark-color);
}
.subscribe {
    background-color: var(--yellow-color);
    input[type="text"] {
        border: none;
        border-bottom: 1px solid white;
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: white;
        }
        &::-moz-placeholder {
            color: white;
        }
        &:-ms-input-placeholder {
            color: white;
        }
        &::-ms-input-placeholder {
            color: white;
        }
        &::placeholder {
            color: white;
        }
    }
    input[type="submit"] {
        background-color: var(--dark-color);
        color: var(--yellow-color);
    }
}
footer {
    background-color: var(--dark-color);
    .info {
        img {
            height: 60px;
        }
    }
    .copyright {
        > span {
            color: var(--green-color);
        }
        div {
            span {
                color: var(--yellow-color);
            }
        }
    }
    .contact {
        ul {
            svg {
                width: 20px;
                height: 20px;
            }
            .facebook {
                background-color: #1877f2;
            }
            .twitter {
                background-color: #1da1f2;
            }
            .linkedin {
                background-color: #0a66c2;
            }
            .youtube {
                background-color: #ff0000;
            }
        }
    }
}